<style>
    ul {
    display: inline-flex;
    list-style: none;
    }
    a {
    text-decoration: none;
    color: black;
    }
    button {
    width: 70px;
    height: 40px;
    border-radius: 5px;
    background: #D8B6A4;
    }
    nav {
    background: #630000;
    }
    h3{
    color:#D8B6A4;
    }
</style>
<nav>
    <ul>
        <li><button><a href="/">Home</a></button></li>
        <li sec:authorize="!isAuthenticated()"><button><a href="/signup">Signup</a></button></li>
        <li sec:authorize="!isAuthenticated()"><button><a href="/login">Login</a></button></li>
        <li sec:authorize="isAuthenticated()"><button><a href="/profile">Profile</a></button></li>
        <li sec:authorize="isAuthenticated()"><button><a href="/perform_logout">Logout</a></button></li>
        <li sec:authorize="isAuthenticated()"><button><a href="/users">Fellows</a></button></li>
        <li sec:authorize="isAuthenticated()"><button><a href="/feed">Feed</a></button></li>
    </ul>
    <h3 sec:authorize="isAuthenticated()">Hello <span sec:authentication="name"></span></h3>
</nav>